@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,500,300);
/*:::::::::::::::::::::::::::::  End :::::::::::::::::::::::::::
========================= jhoelantezana.com ========================
-------------------------------------------------------------------*/
@media screen and (max-width: 760px) {
  main {
    padding: 0 0.5rem; } }

@media screen and (min-width: 760px) {
  .servicios {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.servicios__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem; }

.servicios__item {
  position: relative; }

.servicios__decorate {
  position: absolute;
  right: 0;
  top: 2.5rem;
  list-style: none;
  margin: 1rem;
  padding: 0;
  font-size: 3rem; }
  .servicios__decorate li {
    -webkit-animation: colorinColorado 16s infinite;
            animation: colorinColorado 16s infinite; }
    .servicios__decorate li:nth-child(1) {
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
    .servicios__decorate li:nth-child(2) {
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
    .servicios__decorate li:nth-child(3) {
      -webkit-animation-delay: 6s;
              animation-delay: 6s; }
    .servicios__decorate li:nth-child(4) {
      -webkit-animation-delay: 8s;
              animation-delay: 8s; }

.servicios__dowloand {
  margin: 1rem 0; }

@-webkit-keyframes colorinColorado {
  0%, 30% {
    color: #FFD300; }
  31%, 70% {
    color: #064280; }
  71%, 100% {
    color: #FFD300; } }

@keyframes colorinColorado {
  0%, 30% {
    color: #FFD300; }
  31%, 70% {
    color: #064280; }
  71%, 100% {
    color: #FFD300; } }

.servicios__slider {
  background: #F6F6F6;
  height: 100px;
  position: relative;
  margin: 3rem auto; }
  .servicios__slider:after {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    content: "";
    height: 1px;
    width: 100px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    background: red;
    display: block;
    box-shadow: 0 0 70px 50px #b6b6b6; }

.servicios__bancos {
  background: #ffffff;
  border: 1px dashed rgba(6, 66, 128, 0.5);
  margin: 2rem auto; }
